@page
@model SobreModel

@{
    ViewData["Title"] = " | Sobre";
}

<div class="row">
    <section 
            class="default-card card-lg" style="padding:20px">
        <h2>
            PROGRAMADOR.TV
            <span style="float: right;">
                <a href="https://github.com/programador-tv/" style="text-decoration:none" target="_blank">
                    <img style="margin-left:15px;width:30px ;cursor:pointer" src="https://eduardoworrel.com/imgs/social/github (1).png">
                </a>
                <a style="text-decoration:none" href="https://www.linkedin.com/company/programador-tv" target="_blank">
                    <img style="margin-left:15px;width:30px;cursor:pointer" src="https://eduardoworrel.com/imgs/social/linkedin.png">
                </a>
              
            </span>
        </h2>
        
        <hr>
        <div id="sobre">
           
                
                <p style="font-size: 45px; line-height:45px">
                    Acreditamos que <b>aprender</b> é diferente para cada um.
                    Por isso estamos criando um ambiente de educação <b>orientado por mentores</b>.<br>
                </p>
                 <br>
                <p style="font-size: 45px; line-height:45px">
                    Quem são esses mentores? <br>
                </p>
                <p style="font-size: 45px; line-height:45px">
                   - <b> É você</b> ajudando quem está começando agora.
                </p>
                <p style="font-size: 45px; line-height:45px">
                    - É <b>o profissonal que você admira</b> pronto para te ajudar a dar o próximo passo.
                </p>
               
        </div>
        <br>
        <h2>
            Sessões de mentoria
        </h2>
        
        <hr>
        <div >
                <p style="font-size: 20px;">
                    Em <b>Aprender</b> você encontra mentores disponíveis para te ajudar a dar o próximo passo na sua carreira, tirar dúvidas e te ajudar a encontrar o caminho certo.
                </p>
                <p style="font-size: 20px;">
                    Em <b>Ensinar</b> você pode se tornar um mentor e ajudar quem está começando agora ou já está no mercado a dar o próximo passo.
                </p>
                                
        </div>
        <h2>
            transmissão ao vivo 
        </h2>
        
        <hr>
        <div >
                <p style="font-size: 20px;">
                    Na página inicial, você pode iniciar uma transmissão ao vivo para compartilhar conhecimento com a comunidade.
                </p>
        </div>
        <br>
        <br>
        <h2>
            Nosso Time
        </h2>

        <hr>
        <div id="time" class="team-section-about-page">
            <div class="card-team-leader card-team-member">
                <img src="/Pictures/Members/EduardoWorrel.jpg"
                     alt="Eduardo Worrrel" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/eduardoworrel/" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/eduardoworrel/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Eduardo Worrel
                    </h3>
                    <p class="member-role-font">
                        <strong>Fundador</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/LeonardoGasperin.jpeg" alt="Leonardo Gasperin" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/leonardoGasperin/" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/leonardo-dgasperin/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Leonardo V. De Gasperin
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheiro de software & Desenvolvedor .Net</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/MatheusFerreira.jpg"
                     alt="" class="member-preview">
                <div class="member-links">
                    <a href="https://www.behance.net/ferreiramt" target="_blank" rel="noopener" class="fa member-ancor">&#xf1c9;</a>
                    <a href="https://www.linkedin.com/in/matheusferreiraml/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Matheus Ferreira
                    </h3>
                    <p class="member-role-font">
                        <strong>UX/UI Designer</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/MarcosDorneles.jpg"
                     alt="" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/marcosdorneles" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/marcos-dorneles/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Marcos Dorneles
                    </h3>
                    <p class="member-role-font">
                        <strong>Desenvolvedor Fullstack</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/DannyelaGeovanna.jpg"
                     alt="" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/Danny-for" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/dannyela-geovanna-69944b201/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Dannyela Geovanna
                    </h3>
                    <p class="member-role-font">
                        <strong>Desenvolvedora Júnior</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/SabrinaTeixeira.jpg"
                     alt="" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/txsabrina" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/txsabrina" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Sabrina Teixeira
                    </h3>
                    <p class="member-role-font">
                        <strong>Desenvolvedora .Net</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member">
                <img src="/Pictures/Members/JarbasGouveia.jpg"
                     alt="" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/jjgouveia" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/jarbasgouveia/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Jarbas Gouveia
                    </h3>
                    <p class="member-role-font">
                        <strong>Desenvolvedor .Net</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/HelioNeto.jpg"
                     alt="Helio Neto" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/ehlliot8" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/hélio-neto-611934206/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Helio Neto
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheiro de software</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/nicolasFerreira.jpg"
                     alt="Nicolas Ferreira" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/nicolasfvp" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/nicolas-ferreira-a9bb711b6/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Nicolas Ferreira
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheiro de software</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/RenoAmoedo.jpg"
                     alt="Reno Amoêdo" class="member-preview">
                <div class="member-links">
                    <a href="https://www.linkedin.com/in/reno-amoedo/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Reno Amoêdo
                    </h3>
                    <p class="member-role-font">
                        <strong>UI Designer</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/RafaelPetter.png"
                     alt="Rafael Petter" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/rapPetter" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Rafael Petter
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheiro de software</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/RaulMulerschat.jpg"
                     alt="Raul Cesar Mulerschat" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/RaulCesarM" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/raulcesarmulerschat/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Raul Mulerschat
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheiro de software</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>

            <div class="card-team-member card-team-inactive">
                <img src="/Pictures/Members/TatyanaJacques.jpg"
                     alt="Tatyana Jacques" class="member-preview">
                <div class="member-links">
                    <a href="https://github.com/tatyana-jacques" target="_blank" rel="noopener" class="fa member-ancor">&#xf09b;</a>
                    <a href="https://www.linkedin.com/in/tatyana-jacques-438190b3/" target="_blank" rel="noopener" class="fa member-ancor">&#xf08c;</a>
                </div>
                <div>
                    <h3 class="member-font">
                        Tatyana Jacques
                    </h3>
                    <p class="member-role-font">
                        <strong>Engenheira de software & Sound Designer</strong>
                    </p>
                </div>
                <h6 style="margin-bottom:0px">
                </h6>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}