@page
@model PrivacyModel

@{
    ViewData["Title"] = " | Termos de serviço";
}

<div class="row">
    <section 
            class="default-card card-lg" style="padding:20px">
        <h1>
                
            Política de Privacidade do Programador.TV
            <span style="float: right;">
                <a href="https://github.com/programador-tv/" style="text-decoration:none" target="_blank">
                    <img style="margin-left:15px;width:30px ;cursor:default" src="https://eduardoworrel.com/imgs/social/github (1).png">
                </a>
                <a style="text-decoration:none" href="https://www.linkedin.com/company/programador-tv" target="_blank">
                    <img style="margin-left:15px;width:30px;cursor:default" src="https://eduardoworrel.com/imgs/social/linkedin.png">
                </a>
            </span>
        </h1>
        <p>Data de entrada em vigor: 06/05/2024</p>

        <hr>
        <div id="sobre">
           
   
    <h2>1. Informações Coletadas</h2>
    <p>
        a. <strong>Google Analytics:</strong> Utilizamos o Google Analytics para coletar informações sobre como os usuários interagem com nosso site, incluindo páginas visitadas, tempo gasto em cada página, tipo de dispositivo utilizado e localização geográfica aproximada. Essas informações são coletadas de forma anônima e são usadas para melhorar a experiência do usuário e otimizar nosso site.
    </p>
    <p>
        b. <strong>Microsoft Clarity:</strong> Utilizamos o Microsoft Clarity para registrar sessões de usuários e coletar informações sobre o comportamento do usuário, como cliques, movimentos do mouse e rolagens de página. Essas informações nos ajudam a entender melhor como os usuários interagem com nosso site e a identificar áreas para melhorias de usabilidade.
    </p>
    <p>
        c. <strong>Hotjar:</strong> Utilizamos o Hotjar para realizar pesquisas de feedback e para coletar informações sobre o uso do site, incluindo cliques, movimentos do mouse, rolagens de página e interações com formulários. Essas informações nos ajudam a entender o comportamento do usuário e a melhorar a funcionalidade e usabilidade do site.
    </p>

    <h2>2. Uso das Informações</h2>
    <p>
        As informações coletadas são usadas para entender melhor o comportamento do usuário, melhorar a experiência do usuário, otimizar nosso site e personalizar o conteúdo para os usuários. Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer serviços relacionados ao Programador.tv ou quando exigido por lei.
    </p>

    <h2>3. Segurança das Informações</h2>
    <p>
        Implementamos medidas de segurança razoáveis para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão de dados pela Internet ou armazenamento eletrônico é totalmente segura, e não podemos garantir a segurança absoluta de suas informações.
    </p>

    <h2>4. Cookies</h2>
    <p>
        Utilizamos cookies e tecnologias semelhantes para melhorar a experiência do usuário e coletar informações sobre o uso do site. Os cookies são pequenos arquivos de texto armazenados no seu dispositivo que nos permitem reconhecer você e lembrar suas preferências. Você pode controlar o uso de cookies através das configurações do seu navegador.
    </p>

    <h2>5. Links para Sites de Terceiros</h2>
    <p>
        O Programador.tv pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade ou pelo conteúdo desses sites. Recomendamos que você revise as políticas de privacidade desses sites antes de fornecer qualquer informação pessoal.
    </p>

    <h2>6. Alterações nesta Política de Privacidade</h2>
    <p>
        Reservamos o direito de modificar esta Política de Privacidade a qualquer momento. Quaisquer alterações entrarão em vigor imediatamente após a publicação no Programador.tv.
    </p>

    <p>
        Se você tiver alguma dúvida ou preocupação sobre nossa coleta ou uso de suas informações pessoais, entre em contato conosco através dos meios fornecidos no site.
    </p>
        </div>
    </section>
</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}