@page
@model ServicesModel

@{
    ViewData["Title"] = " | Termos de serviço";
}

<div class="row">
    <section 
            class="default-card card-lg" style="padding:20px">
        <h1>
                
            Termos de serviço do Programador.TV
            <span style="float: right;">
                <a href="https://github.com/programador-tv/" style="text-decoration:none" target="_blank">
                    <img style="margin-left:15px;width:30px ;cursor:pointer" src="https://eduardoworrel.com/imgs/social/github (1).png">
                </a>
                <a style="text-decoration:none" href="https://www.linkedin.com/company/programador-tv" target="_blank">
                    <img style="margin-left:15px;width:30px;cursor:pointer" src="https://eduardoworrel.com/imgs/social/linkedin.png">
                </a>
            </span>
        </h1>
        <p>Data de entrada em vigor: 06/05/2024</p>

        <hr>
        <div id="sobre">
           
   
    <h2>1. Uso dos Serviços</h2>
    <p>
        Você concorda em utilizar os Serviços apenas para fins legais e de acordo com estes Termos. Você é responsável por garantir que seu uso dos Serviços esteja em conformidade com todas as leis e regulamentos aplicáveis.
    </p>

    <h2>2. Conteúdo do Usuário</h2>
    <p>
        Você é o único responsável por todo o conteúdo que você carrega, publica, exibe ou de outra forma disponibiliza ("Conteúdo do Usuário") através dos Serviços. Você declara e garante que possui todos os direitos necessários para o Conteúdo do Usuário e que o Conteúdo do Usuário não viola nenhum direito de terceiros.
    </p>

    <h2>3. Privacidade e Proteção de Dados</h2>
    <p>
        Ao utilizar os Serviços, você concorda com a coleta, uso e divulgação de suas informações conforme descrito em nossa Política de Privacidade.
    </p>

    <h2>4. Propriedade Intelectual</h2>
    <p>
        Todos os direitos de propriedade intelectual relacionados aos Serviços (exceto o Conteúdo do Usuário) são de propriedade ou licenciados para o Programador.tv. Você concorda em respeitar todos os direitos de propriedade intelectual dos Serviços.
    </p>

    <h2>5. Modificação e Término dos Serviços</h2>
    <p>
        Reservamos o direito de modificar, suspender ou descontinuar os Serviços (ou qualquer parte deles) a qualquer momento e sem aviso prévio. Não seremos responsáveis perante você ou qualquer terceiro por qualquer modificação, suspensão ou descontinuação dos Serviços.
    </p>

    <h2>6. Responsabilidades e Garantias</h2>
    <p>
        VOCÊ EXPRESSAMENTE CONCORDA QUE O USO DOS SERVIÇOS É POR SUA CONTA E RISCO. OS SERVIÇOS SÃO FORNECIDOS "COMO ESTÃO" E "CONFORME DISPONÍVEL", SEM GARANTIAS DE QUALQUER TIPO, EXPRESSAS OU IMPLÍCITAS.
    </p>

    <h2>7. Legislação Aplicável</h2>
    <p>
        Estes Termos serão regidos e interpretados de acordo com as leis do [país/estado/província]. Qualquer litígio decorrente ou relacionado a estes Termos será exclusivamente resolvido pelos tribunais competentes do [país/estado/província].
    </p>

    <h2>8. Resolução de Conflitos</h2>
    <p>
        Se surgir alguma disputa entre você e o Programador.tv relacionada aos Serviços, você concorda em tentar resolver o litígio de forma amigável. Se não for possível resolver o litígio de forma amigável, concordamos em submeter a questão à arbitragem vinculativa de acordo com as regras de arbitragem então vigentes.
    </p>

    <h2>9. Sobre Estes Termos</h2>
    <p>
        Estes Termos constituem o acordo integral entre você e o Programador.tv em relação aos Serviços e substituem todos os acordos anteriores ou contemporâneos entre você e o Programador.tv em relação aos Serviços.
    </p>

    <p>
        Ao utilizar os Serviços do Programador.tv, você reconhece que leu, compreendeu e concorda em ficar vinculado por estes Termos. Se você não concordar com estes Termos, não acesse nem use os Serviços.
    </p>
        </div>
    </section>
</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}