
    <div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body" style="padding: 32px;">

                <header style="margin-bottom: 38px;">
									<button
											type="button"
											class="btn-close"
											data-bs-dismiss="modal"
											aria-label="Close"
									>
									</button>
									<h4 class="fs-2" style="color: #373737">Agenda</h4>
								</header>

                <section
										class="tab d-flex flex-wrap"
										style="gap: 20px; border-bottom: 2px solid #D7D7D7"
								>
                    <div
												class="btn-tab-agenda button-tab active-tab"
												data-bs-toggle="tab"
												data-bs-target="#calendarPanel"
										>
                        <span>Calendário</span>
                    </div>
                    <div
												class="btn-tab-agenda button-tab"
												data-bs-toggle="tab"
												data-bs-target="#eventsPanel"
										>
                        <span>Eventos</span>
                    </div>
                    <div
												class="btn-tab-agenda button-tab"
												data-bs-toggle="tab"
												data-bs-target="#livesPanel"
										>
                        <span>Lives</span>
                    </div>
                </section>
                <br />
                <div class="tab-content">
                    <div id='calendarPanel' class="tab-pane active">
                        <div id='calendar' style="width:100%;height:715px"></div>
                    </div>
                    <div id="eventsPanel" class="tab-pane">
                        <div class="schelude-timeselection-panel">
                            <div>
                                <h5>🛠️ Aprendizado</h5>
                                <div id="joinTimes"></div>
                            </div>
                            <div class="vertical-line"></div>
                            <div>
                                <h5>⚠️ Meus pedidos de Ajuda</h5>
                                <div id="askedHelp"></div>
                            </div>
                            <div>
                                <h5>🎯 Ajudas atendidas</h5>
                                <div id="solvedHelp"></div>
                            </div>
                            <div class="vertical-line"></div>
                            <div>
                                <h5>🦾 Meus Eventos</h5>
                                <div id="freeTimes"></div>
                            </div>
                        </div>
                    </div>
                    <div id='livesPanel' class="tab-pane">
                        <div id="myLives" class="row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn " data-bs-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
    <div id="eventModals">
    </div>
</div>

<link href="/css/fullcalendarOverideEnsinar.css" rel="stylesheet">
<script src='~/lib/fullCalendar/fullCalendar.js'></script>
<script src='~/js/renderCalendarioAndEvents.js'></script>
<script defer src="/js/TabBsHandler.js"></script>