@model _NewLiveModalModel
@using tags
<div class="modal fade" id="liveModal" tabindex="-1" aria-labelledby="liveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h4 style="text-align: center;">Agendamento de live</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                @await Html.PartialAsync("Components/Live/_FormNewLive",
                         new _FormNewLiveModel
                {
                    Live = new Domain.Models.ViewModels.PreLiveViewModel(),
                    TagsSelected = new List<string>(),
                    RelatioTags = DataTags.GetTags(),

                })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn " data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
