
<div id="emBreve">
    <div style="color: #373737; text-align: center;">
        <h2 style="font-size: 48px;">Em breve!</h2>
        <p style="font-size: 32px;">Estamos trabalhando nisso</p>
        <img alt="pessoas trabalhando" src="/Pictures/Image_work.svg">
    </div>
</div>