@*
    <div @*
    <div class="modal fade timeSelection-x" id="capacitacaoModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 955px;">
        <div class="modal-content" style="background-color: #FEFBFB;">

            <div class="modal-body" style="padding: 32px 1rem 8px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="tittle-newDesign">🛠️ Capacitação</h4> *@
            <section class="nav nav-tabs d-flex flex-wrap pt-3">

                <div style="cursor: pointer; display: flex;
                    justify-content: space-between;
                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                        data-bs-toggle="tab" data-bs-target="#ajuda">

                        @* <img src="/Pictures/Icons/mdi_account-sync-outline.svg" alt="mdi_account-sync-outline"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" /> *@
                        <span >Pedidos de Ajuda</span>
                        <span id="count-help"></span>
                    </div>
                <div  style="cursor: pointer; display: flex;

                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                    data-bs-toggle="tab" data-bs-target="#oneToOne">

                        @* <img src="/Pictures/Icons/material-symbols_person-outline.png" alt="material-symbols_person-outline"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" /> *@
                        <span >Ajuda 1:1</span>
                        <span id="count-one"></span>
                    </div>

                    <div  style="cursor: pointer; display: flex;
                    justify-content: space-between;
                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                    data-bs-toggle="tab" data-bs-target="#cursos">

                        @* <img src="/Pictures/Icons/mdi_briefcase-account.svg" alt="mdi_briefcase-account"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" /> *@
                        <span >Eventos</span>
                        <span id="count-cursos"></span>
                    </div>



                    @* <div style="cursor: pointer; display: flex;
                    justify-content: space-between;
                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                        data-bs-toggle="tab" data-bs-target="#mentoria">

                        <img src="/Pictures/Icons/mdi_account-sync-outline.svg" alt="mdi_account-sync-outline"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" />
                        <span >Mentoria continuada</span>
                    </div> *@



                    @* <div style="cursor: pointer; display: flex;
                    justify-content: space-between;
                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                    data-bs-toggle="tab" data-bs-target="#entrevista">

                        <img src="/Pictures/Icons/material-symbols_groups-outline.svg" alt="material-symbols_groups-outline"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" />
                        <span >Simular entrevista</span>
                    </div>

                    <div style="cursor: pointer; display: flex;
                    justify-content: space-between;
                    align-items: center; gap: 8px" class="button button-revamp button-tab"
                    data-bs-toggle="tab" data-bs-target="#recursos">

                        <img src="/Pictures/Icons/mdi_link-variant.svg" alt="mdi_link-variant"
                             style=" border: none; padding-bottom: 7px;color: inherit; padding-top: 5px;" />
                        <span >Recursos externos</span>
                    </div> *@
                <br>
                </section>
                @* <hr style="background-color: #5c00ac; height: 2px;"> *@
                <div class="tab-content ">

                    <section class="tab-pane tab-pane-events fade" id="oneToOne">

                        <br>
                        <button class="button-capacitacao" onclick="openOneToOne()">
                            Criar sessão 1:1
                        </button>
                        <div style="text-align: right; font-size: 32px; cursor : pointer">
                            <span id="groupOneToOne-left" class="arrow-icon"><i class="bi bi-arrow-left"></i></span>
                            <span id="groupOneToOne-right" class="arrow-icon"><i class="bi bi-arrow-right"></i></span>
                        </div>
                        <div id="OneToOneMatch" style="display: flex;justify-content: space-between; flex-wrap:wrap">
                        </div>
                    </section>
                    <section class="tab-pane tab-pane-events active" id="ajuda">
                        <br>
                        <button class="button-capacitacao" onclick="openTimePickerForHelp()">
                            Tirar dúvida
                        </button>
                        <div style="text-align: right; font-size: 32px; cursor : pointer">
                            <span id="groupHelp-left" class="arrow-icon"><i class="bi bi-arrow-left"></i></span>
                            <span id="groupHelp-right" class="arrow-icon"><i class="bi bi-arrow-right"></i></span>
                        </div>
                        <div id="pedidosPanel" style="display: flex;justify-content: center; flex-wrap:wrap">
                            <div class="d-flex justify-content-center" id="pedidosLoading">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </section>
                        <section class="tab-pane tab-pane-events fade" id="mentoria">
                    @await Html.PartialAsync("Components/TimeSelections/_EmBreveConteudo")
                </section>

                <section class="tab-pane tab-pane-events" id="cursos">
                    <br>
                        <button class="button-capacitacao" onclick="openCursosAndEventos()">
                            Criar evento
                        </button>
                        <div style="text-align: right; font-size: 32px; cursor : pointer">
                            <span id="groupCursos-left" class="arrow-icon"><i class="bi bi-arrow-left"></i></span>
                            <span id="groupCursos-right" class="arrow-icon"><i class="bi bi-arrow-right"></i></span>
                        </div>
                       <div id="CursosMatch" style="display: flex;justify-content: space-between; flex-wrap:wrap"></div>
                </section>
                    <section class="tab-pane tab-pane-events" id="entrevista">
                    @await Html.PartialAsync("Components/TimeSelections/_EmBreveConteudo")
                </section>
                 <section class="tab-pane tab-pane-events" id="recursos">
                    @await Html.PartialAsync("Components/TimeSelections/_EmBreveConteudo")
                </section>
                @* </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn " data-bs-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
</div> *@
<style>
    .nav-tabs {
        border-bottom: 2px solid aliceblue;
    }
    .button-revamp {
        box-sizing: border-box;
        padding: 8px 8px !important;
        border-radius: 0px !important;
        transition: 0.3s all;
				color: #437AE2;
        background: transparent;
        border-bottom: 3px solid transparent;
    }
    .active.button-revamp {
        background: transparent;
        border-bottom: 3px solid navy;
        color: navy;
    }

    .button-revamp:hover {
        color: #1e53b7;
    }
		.button-revamp.active .count-tab-events{
        background-color: navy;
    }
		.button-revamp:hover .count-tab-events{
        background-color: #1e53b7;
    }
      .bi-arrow-left, .bi-arrow-right {
         color: #437AE2;
        font-size: 32px;
        cursor: pointer;
        display: inline-block; /* Garante que as setas estejam na mesma linha */
        vertical-align: middle; /* Alinha verticalmente ao centro */
        margin: 0 5px; /* Adiciona um pequeno espaço entre as setas e outros elementos */
    }

    /* Cor para hover */
    .bi-arrow-left:hover, .bi-arrow-right:hover {
        color: #437AE2;
    }


</style>

@* <script defer src="/js/TabBsHandler.js"></script> *@