.fc-button-primary {
  background-color: #b5dcf0 !important;
  color: #2e2e2e !important;
  border: none !important;
  height: 45px !important;
  margin-top: 0.5em !important;
  border-radius: 8px !important;
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
  max-width: 480px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.fc-v-event {
  background-color: whitesmoke;
  cursor: default;
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 0.5;
}
