.fc-button-primary{
    background-color: #437AE2 !important;
    color: #FEFBFB !important;
    border: none !important;
    height: 32px !important;
    border-radius: 2px !important;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    max-width: 53px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.fc-v-event {
    background-color: whitesmoke;
    cursor: pointer;
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 0.5;
}
.fc-today-button {
	background-color: #CFDEFB !important;
	color: #878787 !important;
}